[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = ">=3"

[dev-packages]
coverage = "*"
flake8 = "*"
Sphinx = "*"
ipython = "*"
ipykernel = "*"
ipywidgets = "*"
notebook = "*"
jupyterlab = "*"

[packages]
src = {editable = true, path = "."}
click = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
tqdm = "*"
pyarrow = "*"
